*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background: #D9D9D9;
}
a{
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0;
}
/* HEADER */
.header{
    padding: 47px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.container{
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}
.container-header{
    align-items: center;
}
.header-nav-list{
    list-style: none;
    display: flex;
}
.header-nav-list-item-link{
    color: #fff;
    margin: 0 0 0 32px;
}
.header-img{
    max-width: 48px;
}
/* HERO */
.container-hero{
    padding-top: 10%;
}
.hero{
    min-height: 100vh;
}
.hero-info{
    max-width: 521px;
}
.hero-info-head{
    font-size: 24px;
    line-height: 29px;
    padding: 0 0 32px 0;
    color: white;
}
.hero-info-desc1{
    padding: 0 0 24px 0;
    color: white;
}
.hero-info-desc2{
    padding: 0 0 24px 0;
}
.hero-form{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(270deg, rgba(3, 31, 24, 0.6) 84.75%, rgba(31, 102, 76, 0) 132.86%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    padding: 38px 22px 48px 22px;
    margin: 0 0 126px 0;
}
.hero-form-head{
    margin: 0;
    padding: 0 0 22px 0;
    color: white;
}
input[type='text'], input[type='email']{
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 18px 24px;
    width: 301px;
    margin: 0 0 9px 0;
}
input::placeholder{
    color: white;
}
.hero-form-btn{
    font-size: 16px;
    line-height: 19px;
    padding: 16px 54px;
    background: #2DC27B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
}
.line{
    width: 100%;
    height: 1px;
    background: black;
}
.fullscreen-bg {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    width: 100%;
    /*padding-top:45%;*/
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
}
.hero{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/* PROG */
.prog{
    padding: 20px 0 58px;
}
.prog-container{
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}
.prog-info{
    max-width: 415px;
}
.prog-info-head{
    margin: 0 0 36px 0;
}
.prog-vid-video{
    max-width: 648px;
}
.slick-slider{
    max-width: 620px;
}
/* FOOTER */
.footer{
    padding: 19px 0;
}
.footer-contact{
    display: flex;
    flex-direction: column;
}
.footer-contact a{
    color: #000;
}
/* ADAPTATION */


@media screen and (max-width: 1320px) {
    .container {
        width: 1260px;
    }
}


@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .hero-form {
        width: 280px;
    }
    .hero-info-head{
        font-size: 20px;
        line-height: 27px;
        padding: 0 0 28px 0;
    }
    .hero-info-desc{
        padding: 0 0 20px 0;
    }
    input[type='text'], input[type='email']{
        width: 240px;
    }
    .hero-form-btn{
        padding: 16px 45px;
    }
    .hero-info{
        margin: 0 24px 0 0;
    }
    .prog-info{
        max-width: 100%;
    }
    .prog-container{
        flex-direction: column;
    }
    .prog-img{
        text-align: center;
    }
    .container-hero{
        padding: 25% 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .slick-prev, .slick-next { display: none !important; }
    .hero{
        padding: 35% 0 0 0;

    }
    .container {
        width: 540px;

    }
    .container-hero{
        flex-direction: column;
        align-items: center;

    }
    .hero-info{
        margin: 0;
    }
    .hero-info-desc{
        font-size: 14px;
        line-height: 16px;
    }
    .hero-form{
        width: 250px;
        padding: 28px 16px 38px;
        margin: 0 0 126px 0;
    }
    .hero-form-head{
        padding: 0 0 16px 0;
    }
    input[type='text'], input[type='email']{
        padding: 14px 18px;
        width: 220px;
    }
    .hero-form-btn{
        font-size: 12px;
        line-height: 16px;
        padding: 12px 36px;
    }
    .prog{
        padding: 16px 0 38px;
    }
    .prog-info{
        max-width: 100%;
    }
    .prog-info-head{
        margin: 0 0 36px 0;
    }
    .prog-img img{
        max-width: 320px;
    }
    input[type='text']{
        font-size: 12px;
    }
    .footer-contact a {
        font-size: 14px;
    }
    .footer-social a span svg{
        width: 36px;
    }

}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

}

@media screen and (max-width: 340px) {
    .container {
        width: 320px;
    }
    .footer-contact a {
        font-size: 14px;
    }
    .footer-social a span svg{
        width: 28px;
    }
}